{% extends "admin.html.twig"  %}

{% form_theme form _self %}

{% block _order_address_delivery_address_company_row %}
    <h3><i class="fa fa-fw fa-truck"></i>&nbsp; {{ 'Wysyłkowe dane adresowe'|trans }}</h3>
    <div class="delivery">
        <div class="widget">
            {{ form_label(form) }}
            <div class="field">
            {{ form_widget(form) }}
            </div>
            {{ form_errors(form) }}
        </div> 
{% endblock %}

{% block _order_address_delivery_address_postal_code_row %}
        <div class="widget">
            {{ form_label(form) }}
            <div class="field">
            {{ form_widget(form) }}
            </div>
            {{ form_errors(form) }}
        </div> 
    </div>
{% endblock %}

{% block _order_address_billing_address_company_row %}
    
    <h3><i class="fa fa-fw fa-credit-card-alt"></i>&nbsp; {{ 'Dane rozliczeniowe'|trans }}</h3>
    
    <div class="billing">
        <div class="widget">
            {{ form_label(form) }}
            <div class="field">
            {{ form_widget(form) }}
            </div>
            {{ form_errors(form) }}
        </div> 
{% endblock %}

{% block _order_address_billing_address_postal_code_row %}
        <div class="widget">
            {{ form_label(form) }}
            <div class="field">
            {{ form_widget(form) }}
            </div>
            {{ form_errors(form) }}
        </div> 
    </div>
{% endblock %}



{% block header %}<h1><i class="fa fa-truck"></i>{{ 'Dane adresowe w zamówieniu'|trans }}</h1>{% endblock %}

{% block content %}

    <div class="content">
        {{ form_start(form,{'action':extend()}) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>


    <div class="content">
        <div class="options">
            <a class="button small" href="{{ path('profile_edit')}}"><i class="fa fa-gear"></i> {{ 'Ustawienia'|trans }}</a>
        </div>
    </div> 
    

{% endblock %}



