{% extends "admin.html.twig" %}

{% form_theme form _self %}

{% block _page_category_translations_row %}
    <div class="widget">
        {% if(form.children|length!=1) %}
            {{ form_label(form) }}
        {% endif %}
        
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div> 
{% endblock %}


{% block header %}<h1><i class="fa fa-cube"></i>{{ 'Kategoria strony upamiętniającej miejsce'|trans }}</h1>{% endblock %}


{% block content %}

    <div class="content">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}