{% extends "admin.html.twig" %}
{#{% form_theme form 'AppBundle:Form:base.html.twig' %}#}

{% form_theme form _self %}




{% block _page_file_row %}

{#{{ dump() }}#}
        <div class="widget" id="background">
            
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div> 
        {% if(attr['data-path']!='') %}
        <div class="widget">   
            <label>{{ 'Twoje zdjęcie w tle'|trans }}</label>
            <div class="field background">
                
                <div class="effect">
                <label for="bg0" class="img" style="{#background-image:url(/{{ attr['data-path'] }});#}">
                    <span class="zoom tip" title="{{ 'Powiększ zdjęcie'|trans }}"><a href="/{{ attr['data-path'] }}" style="position:absolute; top:0; left:0; width:100%; height:100%; display:block;"></a></span> 
                    
                    <div class="input" style="z-index:1;"><input id="bg0" {% if(attr['data-path']==attr['data-background']) %}checked="checked"{% endif %} type="radio" name="background" data-image="{{ attr['data-path'] }}" value="{{ attr['data-path'] }}"></div>
                </label>
                <div class="custom" style="position:absolute; width:100%; height:100%; background-size:cover; background-image:url(/{{ attr['data-path'] }}); z-index:0;"></div>
                </div>
                
            </div>
        </div>
        {% endif %}         
        <div class="widget">  
            <label>{{ 'Możesz też wybrać gotowe zdjęcie w tle'|trans }}</label> 
            
            <div class="field background">  
                {% set bg='uploads/backgrounds/1.jpg' %}
                {% set nr='1' %}
                <label for="bg{{nr}}" class="img" style="background-image:url(/{{bg}});">
                    <span class="zoom tip" title="{{ 'Powiększ zdjęcie'|trans }}"><a href="/{{bg}}" style="position:absolute; top:0; left:0; width:100%; height:100%; display:block;"></a></span> 
                    
                    <div class="input"><input id="bg{{nr}}" {% if(bg==attr['data-background']) %}checked="checked"{% endif %} type="radio" name="background" data-image="{{bg}}" value="{{bg}}"></div>
                </label>
                
                {% set bg='uploads/backgrounds/2.jpg' %}
                {% set nr='2' %}
                <label for="bg{{nr}}" class="img" style="background-image:url(/{{bg}});">
                    <span class="zoom tip" title="{{ 'Powiększ zdjęcie'|trans }}"><a href="/{{bg}}" style="position:absolute; top:0; left:0; width:100%; height:100%; display:block;"></a></span> 
                    
                    <div class="input"><input id="bg{{nr}}" {% if(bg==attr['data-background']) %}checked="checked"{% endif %} type="radio" name="background" data-image="{{bg}}" value="{{bg}}"></div>
                </label>
                
                {% set bg='uploads/backgrounds/3.jpg' %}
                {% set nr='3' %}
                <label for="bg{{nr}}" class="img" style="background-image:url(/{{bg}});">
                    <span class="zoom tip" title="{{ 'Powiększ zdjęcie'|trans }}"><a href="/{{bg}}" style="position:absolute; top:0; left:0; width:100%; height:100%; display:block;"></a></span> 
                    
                    <div class="input"><input id="bg{{nr}}" {% if(bg==attr['data-background']) %}checked="checked"{% endif %} type="radio" name="background" data-image="{{bg}}" value="{{bg}}"></div>
                </label>

            </div>
        </div>         
{% endblock %}


{% block _page_localisation_map_row %}
    <div class="widget">
        {{ form_label(form) }}
        <div class="field withlocalisation">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        <p class="mapdefault">{{ 'Jeżeli znajdujesz się przy tym miejscu możesz zlokalizować je za pomocą Twojego urządzenia klikając w poniższy przycisk.'|trans }}</p>
        <p class="mapwait hidden">{{ 'Poczekaj. Trwa lokalizowanie Twojego urządzenia.'|trans }}</p>
        <p class="maperror hidden">{{ 'Niestety Twoje urządzenie nie wspiera funkcji lokalizacyjnych.'|trans }}</p>
        <p class="mapwarning hidden">{{ 'Twoje urządzenie wspiera funkcje lokalizacji ale niestety nie mogło jej znaleźć. Upewnij się że masz włączony GPS i dałeś stronie pozwolenie na korzystanie z geolokalizacji.'|trans }}</p>
        <p class="mapsuccess hidden">{{ 'Udało się zlokalizować Twoje urządzenie, sprawdź czy pozycja na mapie się zgadza. Kolorem niebieskim zaznaczony jest obszar wyznaczający dokładność pomiaru. Jeżeli urządzenie błędnie wskazało lokalizacje to spróbuj zlokalizować je ponownie lub przeciągnij i upuść marker na właściwe miejsce.'|trans }}</p>
        
        <a href="" class="button getlocalisation"><i class="fa fa-map-marker"></i> {{ 'Twoja lokalizacja'|trans }}</a>
        </div>
    </div> 
{% endblock %}


{% block _page_translations_row %}
    <div class="widget">
        {% if(form.children|length!=1) %}
            {{ form_label(form) }}
        {% endif %}
        
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div> 
{% endblock %}


{%- block date_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        <div {{ block('widget_container_attributes') }}>
            <div>{{ form_widget(form.year) }}</div>
            <div>{{ form_widget(form.month) }}</div>
            <div>{{ form_widget(form.day) }}</div>
            {#{{- date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw -}}#}
        </div>
    {%- endif -%}
{%- endblock date_widget -%}



{% block textarea_row  %}
    {% if attr['data-bio'] is defined and name=='description' %}
    <div class="widget">
        <label>{{ 'Gotowa biografia'|trans }}</label>
        <div class="field">
            <select class="preset" data-target="description">
            <option value="">{{ 'Wybierz z listy'|trans }}</option>
            <option value=""></option>
            <option value="tata">{{ 'Tata'|trans }}</option>
            <option value="mama">{{ 'Mama'|trans }}</option>
            <option value="babcia">{{ 'Babcia'|trans }}</option>
            <option value="dziadek">{{ 'Dziadek'|trans }}</option>
            </select>
        </div>
    </div> 
    <script>
    $('select.preset').on('change',function(){ 

      var preset='';
      if($(this).val().toLowerCase()=='mama') preset='{{ 'Moja mama była osobą niezwykle drogą memu sercu - kochającą, dobrą i mądrą. Z wielką pokorą znosiła wszelkie przeciwności losu, do ostatniej chwili cieszyła się życiem, zawsze na pierwszym miejscu stawiając dzieci i wnuki, którym bezgranicznie się poświęcała. To ona nauczyła mnie wrażliwości na drugiego człowieka i szacunku dla historii, to dzięki niej nasza rodzina potrafi trzymać się razem. Okazywała nam miłość i czułość, ale potrafiła być także wymagająca, wyrażając troskę o  naszą przyszłość. To dzięki niej nauczyłam się życia. Dziękuję Ci za to, kochana Mamusiu...'|trans }}'; 
      if($(this).val().toLowerCase()=='tata') preset='{{ 'Mój ojciec był wspaniałym człowiekiem, który ofiarował mi wspaniałe dzieciństwo, wykształcił i wychował mnie na człowieka, którym jestem dzisiaj. Żył pięknie i szczerze, potrafił być współczujący i wrażliwy, a równocześnie umiał także wymagać. Niósł pomoc w trudnych chwilach, wspierał całą naszą rodzinę i przyjaciół ciepłem, mądrością oraz dobrym słowem. Jego sprawiedliwość i wyrozumiałość dawała poczucie bezpieczeństwa, bo zawsze trzeźwo oceniał, ale nigdy nie był krzywdzący w swoich osądach. Zasiał ziarno kultury i dobrego wychowania, za co dozgonnie będę mu wdzięczny. Żegnaj, Tato...'|trans }}'; 
      if($(this).val().toLowerCase()=='babcia') preset='{{ 'Moja babcia była osobą niezwykle drogą memu sercu - kochającą, dobrą i mądrą. Z wielką pokorą znosiła wszelkie przeciwności losu, do ostatniej chwili cieszyła się życiem, zawsze na pierwszym miejscu stawiając dzieci i wnuki, którym bezgranicznie się poświęcała. To ona nauczyła mnie wrażliwości na drugiego człowieka i szacunku dla historii, to dzięki niej nasza rodzina potrafi trzymać się razem. Okazywała nam miłość i czułość, ale potrafiła być także wymagająca, wyrażając troskę o naszą przyszłość. To dzięki niej nauczyłam się życia. Dziękuję Ci za to, kochana Babciu...'|trans }}'; 
      if($(this).val().toLowerCase()=='dziadek') preset='{{ 'Mój dziadek do końca pozostał szlachetnym człowiekiem, autorytetem dla mnie i całej naszej rodziny. Mimo że wiele przeżył, zawsze potrafił zachować pogodę ducha i nigdy nie szczędził dobrego słowa, dzieląc się swoim doświadczeniem i mądrością. Zapamiętam go jako szlachetnego, sprawiedliwego i życzliwego wszystkim człowieka, który przez całe życie starał się uczyć nas siły, wiary oraz pracowitości. Jako oddany patriota, ojciec i dziadek zdobył szacunek wielu i pozostawił moc wspaniałych wspomnień, które na zawsze pozostaną w naszych sercach. To dzięki niemu nauczyłam się życia. Dziękuję Ci za to, ukochany Dziadku...'|trans }}'; 
      
      if(preset) $(this).parent().parent().parent().find('textarea').val(preset).keyup();

    });
    </script>     
    {% endif %}

    
    {{ block('form_row') }}
{% endblock %}

{#{% block _page_translations_pl_description_row  %}#}
{% block _translations_artgate_description_row  %} {#to nie dziala ale podmienilem ogolnym sprawdzaniem wyzej#}
    {#{{dump(object)}}#}
    {#{% if object.id %} {% endif %}#}
    {#{% if(object.type.id==1) %}#}
    {#{% if object.id %}#}   
    {% if attr['data-bio'] is defined %}
    <div class="widget">
        <label>{{ 'Gotowa biografia'|trans }}</label>
        <div class="field">
            <select class="preset" data-target="description">
            <option value="">{{ 'Wybierz z listy'|trans }}</option>
            <option value=""></option>
            <option value="Tata">{{ 'Tata'|trans }}</option>
            <option value="Mama">{{ 'Mama'|trans }}</option>
            <option value="Babcia">{{ 'Babcia'|trans }}</option>
            <option value="Dziadek">{{ 'Dziadek'|trans }}</option>
            </select>
        </div>
    </div> 
    {% endif %}
    <div class="widget">
        {{ form_label(form) }}
        <div class="field">{{ form_widget(form) }}</div>
        {{ form_errors(form) }}
    </div> 
    <script>
    $('select.preset').on('change',function(){ 

      var preset='';
      if($(this).val().toLowerCase()=='mama') preset='{{ 'Moja mama była osobą niezwykle drogą memu sercu - kochającą, dobrą i mądrą. Z wielką pokorą znosiła wszelkie przeciwności losu, do ostatniej chwili cieszyła się życiem, zawsze na pierwszym miejscu stawiając dzieci i wnuki, którym bezgranicznie się poświęcała. To ona nauczyła mnie wrażliwości na drugiego człowieka i szacunku dla historii, to dzięki niej nasza rodzina potrafi trzymać się razem. Okazywała nam miłość i czułość, ale potrafiła być także wymagająca, wyrażając troskę o  naszą przyszłość. To dzięki niej nauczyłam się życia. Dziękuję Ci za to, kochana Mamusiu...'|trans }}'; 
      if($(this).val().toLowerCase()=='tata') preset='{{ 'Mój ojciec był wspaniałym człowiekiem, który ofiarował mi wspaniałe dzieciństwo, wykształcił i wychował mnie na człowieka, którym jestem dzisiaj. Żył pięknie i szczerze, potrafił być współczujący i wrażliwy, a równocześnie umiał także wymagać. Niósł pomoc w trudnych chwilach, wspierał całą naszą rodzinę i przyjaciół ciepłem, mądrością oraz dobrym słowem. Jego sprawiedliwość i wyrozumiałość dawała poczucie bezpieczeństwa, bo zawsze trzeźwo oceniał, ale nigdy nie był krzywdzący w swoich osądach. Zasiał ziarno kultury i dobrego wychowania, za co dozgonnie będę mu wdzięczny. Żegnaj, Tato...'|trans }}'; 
      if($(this).val().toLowerCase()=='babcia') preset='{{ 'Moja babcia była osobą niezwykle drogą memu sercu - kochającą, dobrą i mądrą. Z wielką pokorą znosiła wszelkie przeciwności losu, do ostatniej chwili cieszyła się życiem, zawsze na pierwszym miejscu stawiając dzieci i wnuki, którym bezgranicznie się poświęcała. To ona nauczyła mnie wrażliwości na drugiego człowieka i szacunku dla historii, to dzięki niej nasza rodzina potrafi trzymać się razem. Okazywała nam miłość i czułość, ale potrafiła być także wymagająca, wyrażając troskę o naszą przyszłość. To dzięki niej nauczyłam się życia. Dziękuję Ci za to, kochana Babciu...'|trans }}'; 
      if($(this).val().toLowerCase()=='dziadek') preset='{{ 'Mój dziadek do końca pozostał szlachetnym człowiekiem, autorytetem dla mnie i całej naszej rodziny. Mimo że wiele przeżył, zawsze potrafił zachować pogodę ducha i nigdy nie szczędził dobrego słowa, dzieląc się swoim doświadczeniem i mądrością. Zapamiętam go jako szlachetnego, sprawiedliwego i życzliwego wszystkim człowieka, który przez całe życie starał się uczyć nas siły, wiary oraz pracowitości. Jako oddany patriota, ojciec i dziadek zdobył szacunek wielu i pozostawił moc wspaniałych wspomnień, które na zawsze pozostaną w naszych sercach. To dzięki niemu nauczyłam się życia. Dziękuję Ci za to, ukochany Dziadku...'|trans }}'; 

      if(preset) $(this).parent().parent().next().find('textarea').val(preset).keyup();

    });
    </script>
        
{% endblock %}


{% block header %}<h1><i class="fa fa-newspaper-o"></i>{{ 'Strona'|trans }}</h1>{% endblock %}

{% block content %}
    

    {% if object.id %}
    <div class="content">
        <div class="options">
        {% if object.code %}    
        <a href="{{ path_page(object.code) }}" class="button">{{ 'Przejdź do strony'|trans }}</a>    
        <a href="{{ path('page_code',{'id':object.id}) }}" class="button">{{ 'Wygeneruj kod QR'|trans }}</a>   
        {% else %}      
        <a href="{{ path('page_preview',{'id':object.id}) }}" class="button">{{ 'Podgląd strony'|trans }}</a>
        {% endif %}
        </div>

        {% if object.code %}    
        <p>{{ 'Strona posiada aktywny kod Epado.'|trans }}</p> 
        
            {% if object.expired<nowObject() %}
                <p style="color:red;">{{ 'Strona wygasła dnia:'|trans }} {{ object.expired|mydate }}</p>
            {% else %}   
                <p>{{ 'Strona opłacona do dnia:'|trans }} {{ object.expired|mydate }}</p>
            {% endif %}
        
        {% else %}      
        <p>{{ 'Podaj kod aktywacyjny, który znajduje się w liście. Jeżeli nie posiadasz kodu epado możesz zakupić jeden z pakietów online, zostanie on wysłany do Ciebie pocztą. W przesyłce będzie znajdował się kod aktywacyjny, który trzeba będzie wpisać w poniższe pole. Istnieje również możliwość zakupu kodu u jednego z naszych partnerów.'|trans }}</p>
        <form action="" method="get">
            <div class="widget">
            <input type="text" name="password" placeholder="{{ 'Podaj kod aktywacyjny'|trans }}"> 
            </div>
            <button class="small" type="submit">{{ 'Aktywuj stronę'|trans }}</button>
        </form> 
        {% endif %}
        
        {% if object.remind and not object.creator.phone and object.type.id==1 %}  
            <p>{{ 'Masz ustawione przypomnienie o rocznicy, jeżeli chcesz żeby przypomnienie było wysyłane do Ciebie jako SMS musisz podać swój nr telefonu. Możesz to zrobić tutaj:'|trans }} <a href="{{ path('profile_edit') }}">{{ 'tutaj'|trans }}</a>. {{ 'Przypomnienie będzie wysyłane również na Twój adres email.'|trans }}</p>
        {% endif %}
    </div>
    {% endif %}
    


    {% if(type is not null ) %}
    <div class="content">
        <div class="pageselect boxes">    
            <a href="{{ extend({'type':1}) }}" class="element box{% if(type==1) %} active{% endif %}"><i class="fa fa-fw fa-user"></i>{{ 'Upamiętnienie osoby'|trans }}</a>
            <a href="{{ extend({'type':2}) }}" class="element box{% if(type==2) %} active{% endif %}"><i class="fa fa-fw fa-map-marker"></i>{{ 'Upamiętnienie miejsca'|trans }}</a>
        </div>  
    </div>
    {% endif %}

    {% if app.user.havepagepermission(object,'page_edit') or app.user.havepagepermission(object,'page_background') %}
    <div class="content">

        
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form,{'test':4}) }}
        {{ form_end(form) }}
    </div>
    {% endif %}
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#page_cemetery_object').change(function(){
                
                if($(this).val()!=''){
                    var object_data=JSON.parse($(this).val());
                    
                    if(object_data.address)
                    {
                        $(this).parents('form').find('.city').val(object_data.address.city);
                        $(this).parents('form').find('.address').val(object_data.address.address);
                        $(this).parents('form').find('#page_address_postal_code').val(object_data.address.postalcode);
                        $(this).parents('form').find('.country').val(object_data.address.country);
                        
                    }
                    
                    if(object_data.localisation)
                    {    
                        $(this).parents('form').find('.longitude').val(object_data.localisation.longitude);
                        $(this).parents('form').find('.latitude').val(object_data.localisation.latitude);
                        $(this).parents('form').find('.latitude').change();
                    }
                    

                        
                }
            });

        }); 
    </script>

    {#{% endif %}#}
    
    <div class="hidden page_cemetery_search">
        <ul class="result">
            <li><a href="{{ path('cemetery_form') }}" class="element add"><i class="fa fa-plus-circle"></i>{{ 'Dodaj nowy cmentarz'|trans }} <span style="display:none;" class="name"></span></a></li>
            
            {% if(app.user.cemeteries|length <20) %}
              {% for cemetery in app.user.cemeteries %}
                {{ include ('AppBundle:Cemetery:element.html.twig', {'object':cemetery}) }}
              {% endfor %}
            {% endif %}    
            
        </li>
    </div>
            
    <div class="hidden page_family_search">
        <ul class="result">
            <li><a href="{{ path('family_form') }}" class="element add"><i class="fa fa-plus-circle"></i>{{ 'Dodaj rodzinę'|trans }} <span class="name"></span></a></li>
            {% for family in app.user.families %}
            {{ include ('AppBundle:Family:element.html.twig', {'object':family}) }}   
            {% endfor %}    
            {% for c in app.user.credentials %}
              {% if c.family is not null %}  
              {{ include ('AppBundle:Family:element.html.twig', {'object':c.family}) }}   
              {% endif %}
            {% endfor %}   
            
        </ul>
    </div>   
            
    {% if products %}
        <h1><i class="fa fa-cube"></i>{{ 'Produkty i usługi'|trans }}</h1>
        {% include 'AppBundle:Product:products.html.twig' with {'products': products, 'page': object } only %}
    {% endif %}
    
    {% if object.id and object.type.id==2 %}
        <h1><i class="fa fa-music"></i>{{ 'Audiobooki'|trans }}</h1>
        
        {% if object.audiobooks|length %}
            <div class="content">
                <script src="/js/soundmanager/script/soundmanager2-jsmin.js"></script>
                <script type="text/javascript">
                    soundManager.setup({
                      // path to directory containing SM2 SWF
                      url: '/js/soundmanager/swf/'
                    });
                    
                    soundManager.debugMode = false;
                </script>

                <script type="text/javascript" src="/js/soundmanager/demo/360-player/script/berniecode-animator.js"></script>
                <script type="text/javascript" src="/js/soundmanager/demo/360-player/script/360player.js"></script>
                <link rel="stylesheet" href="/js/soundmanager/demo/360-player/360player.css" />
                

                <form action="{{ path('page_audiobook',{'id':object.id}) }}" method="post">
                {% for audiobook in object.audiobooks %}
                <div class="audiorow">   
                    <a href="{{ path('page_audiobook',{'id':object.id,'delete_id':audiobook.id}) }}" class="btn-del"></a>
                    <div class="ui360" >
                     <a href="/{{audiobook.webpath}}"></a>
                    </div>
                    <div class="fieldwrapper f_name">
                      <label for="name{{audiobook.id}}">{{ 'Nazwa'|trans }}</label><br>
                      <input name="edits[{{audiobook.id}}][name]" id="name{{audiobook.id}}" value="{{audiobook.name}}" required="true" type="text" />
                    </div>  
                    <div class="fieldwrapper f_sort">
                      <label for="sort{{audiobook.id}}">{{ 'Nr na liście'|trans }}</label><br>
                      <input name="edits[{{audiobook.id}}][sort]" id="sort{{audiobook.id}}" value="{{audiobook.sort}}" required="true" type="text" />
                    </div>  
                </div>   
                {% endfor %}
                <button type="submit" id="audibook_edit" name="audiobook_save" >{{ 'Zapisz zmiany'|trans }}</button>
                
                </form>
            </div>  
        {% endif %}
        
        <div class="content">
          <form action="{{ path('page_audiobook',{'id':object.id}) }}"   enctype="multipart/form-data" method="post">

          <div class="widget">
            <label>{{ 'Nazwa'|trans }}</label>
            <div class="field">
                <input name="audiobook[name][1]" required="true" type="text" />
            </div>
          </div>
              
          <div class="widget audio">
            <label>{{ 'Audiobook (w formacie wav lub mp3)'|trans }}</label>
            <div class="field">
                <input name="audiobook[file][1]" accept=".mp3,.wav,audio/mp3,audio/mpeg,audio/x-wav" required="true" type="file" />
            </div>
          </div>  
              
          <div>
              <button type="submit" id="page_save" name="audiobook_save" >{{ 'Dodaj audiobook'|trans }}</button>
          </div>
          </form> 
        </div>    
            
    {% endif %}
    
    {% if app.user.havepagepermission(object,'page_images') %}
    {% if object.id %}
        <h1 id="image"><i class="fa fa-photo"></i>{{ 'Zdjęcia i filmy'|trans }}</h1>
        <div class="content">
            <p>
            {{ 'Wybierz zdjęcie profilowe klikając w ikonę na zdjęciu:'|trans }} <span class="button-def"></span> 
            </p>
            <div class="drop-wrapper">
            <form action="{{ app.request.schemeAndHttpHost~app.request.requestUri }}" data-edit="{{ path('image_form')}}" data-sort="{{ path('image_sort')}}" method="post" class="drop" id="drop">
               
                <div class="dz-message">
                    {{ 'Aby dodać nowe zdjęcia upuść je tutaj albo kliknij i wybierz je ze swojego urządzenia.'|trans }}<br>
                </div>

                    
                {% for image in object.getImagesSort() %}
                    <div class="dz-preview dz-processing dz-image-preview dz-success dz-complete exists" data-id="{{ image.getId() }}">
                        <div class="dz-image" style="background-image: url({{ path('thumbnail', {'resolution': '160x120', 'file': image.webPath    })|production }}); background-size: cover; background-repeat: no-repeat;"></div>
                        <div class="dz-details">
                            {% if app.user.havepagepermission(object,'page_image') or image.id!=object.image.id %}<span data-id="{{image.id}}" class="btn-del tip" title="{{ 'Usuń zdjęcie'|trans }}" ></span>{% endif %}
                            {% if app.user.havepagepermission(object,'page_image') %}<span data-id="{{image.id}}" class="btn-def tip" title="{{ 'Ustaw jako zdjęcie profilowe dla tej strony'|trans }}"></span>{% endif %}
                            <span data-id="{{image.id}}" class="btn-edit tip" title="{{ 'Edytuj zdjęcie'|trans }}"></span>
                        </div>
                        <span class="is-def tip {% if object.image and image.id==object.image.id %}show{% endif %}" title="{{ 'Zdjęcie profilowe dla tej strony'|trans }}" ></span>
                    </div>
                {% endfor %}
            

            </form>
            </div>
            
            <script type="text/javascript" src="/js/dropzone/dropzone.js"></script>
            <script type="text/javascript">



            $(document).ready(function() {

                function buttonsBind(container){
                    if(container.parents('form.drop.ui-sortable').length){ container.parents('form.drop.ui-sortable').find('.dz-preview,.dz-image,.dz-image img,.dz-details').css('cursor', 'move'); }
                    
                    container.find('form.drop').sortable({ 
                        items: ".dz-preview",
                        placeholder: "dz-preview placeholder",
                        revert: true,
                        
                        
                        update: function(){
                            var sorted = $(this).sortable('toArray',{attribute:'data-id'}).toString();
                            console.log(sorted);
                            var url=$(this).data('sort');
                            $.ajax({url: url+'/'+sorted});            
                        } 
                    }).disableSelection().find('.dz-preview,.dz-image,.dz-details').css('cursor', 'move');
                    
                    
                    
                    container.find(".dz-details span.btn-del").click(function() {
                        var element=$(this);

                        $.post(updateQueryString('order_id',null,$(this).closest('form').attr('action'))+'/image/del', {'delImgId':$(this).data('id')}, function(response) {
                            if(response.status==true) {
                               element.parents('.dz-preview').fadeOut(300);
                            }
                        });
                    });

                    container.find(".dz-details span.btn-def").click(function() {
                        var element=$(this);
                        $.post(updateQueryString('order_id',null,$(this).closest('form').attr('action'))+'/image/def', {'defImgId':$(this).data('id')}, function(response) {
                            if(response.status==true) {
                               $('.is-def').removeClass('show');
                               $(element).parent().parent().find('.is-def').addClass('show'); 
                               //element.parents('.dz-preview').fadeOut(300);
                            }
                        });
                    });
                    
                    container.find(".dz-details span.btn-edit").click(function() {
                        var element=$(this);
                        
                        $.ajax({
                          url: $(this).closest('form').data('edit')+'/'+$(this).data('id'),
                          //dataType    : 'json',
                          beforeSend: function( xhr ) {
                            //xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
                          }
                        })
                        .done(function( data ) {
                          ajaxForm(data, { test: 1 });
                        });
                    });
                    
                }

                buttonsBind($('body'));

                var url=$('#drop').attr('action');

                $('#drop').dropzone({ 
                    url: url, 
                    autoProcessQueue: true,
                    maxFilesize: 12,
                    acceptedFiles: 'image/jpg,image/png,image/jpeg' ,
                    dictInvalidFileType: '{{ 'Niewłaściwy format pliku, dozwolone pliki to jpg lub png.'|trans }}',
                    dictFileTooBig: '{{ 'Plik jest za duży. Dozwolony rozmiar to:'|trans }} {{ '{{' }}maxFilesize{{ '}}' }} MB.',
                    dictResponseError: '{{ 'Wystąpił błąd.'|trans }}',
                    dictMaxFilesExceeded: '{{ 'Dodałeś zbyt dużo plików.'|trans }}',
                    
                    thumbnailWidth: 159,
                    thumbnailHeight: 120,
                    
                    success: function(file) {
                      obj = JSON.parse(file.xhr.response);  
                      var def_class='';
                      if(obj.status!='ok') {
                        var node, _i, _len, _ref, _results;
                        var message = obj.message // modify it to your error message
                        file.previewElement.classList.add("dz-error");
                        _ref = file.previewElement.querySelectorAll("[data-dz-errormessage]");
                        _results = [];
                        for (_i = 0, _len = _ref.length; _i < _len; _i++) {
                          node = _ref[_i];
                          _results.push(node.textContent = message);
                        }
                        return _results;
                      }
        
                      if($('.dz-preview.exists').length==0) def_class='show';
                      
                      $(file.previewElement).attr('data-id',obj.id);
                      $(file.previewElement).append('<span class="is-def tip '+def_class+'" title="Zdjęcie profilowe" ></span>')
                        .find('.dz-details').html(''+
                        '<span data-id="'+obj.id+'" class="btn-del tip" title="{{ 'Usuń zdjęcie'|trans }}" ></span>'+
                        {% if app.user.havepagepermission(object,'page_image') %}'<span data-id="'+obj.id+'" class="btn-def tip" title="{{ 'Ustaw jako zdjęcie profilowe dla tej strony'|trans }}"></span>'+{% endif %}
                        '<span data-id="'+obj.id+'" class="btn-edit tip" title="{{ 'Edytuj zdjęcie'|trans }}"></span>');

                      buttonsBind($(file.previewElement));
                      preapareContent($(file.previewElement));

                      if (file.previewElement) {
                        return file.previewElement.classList.add("dz-success");
                      }

                    },
                    fallback: function() {
                        
                        $('.dz-fallback').show();
                        $('.dz-message').hide();
                        
                        var child, messageElement, span, _i, _len, _ref;
                        this.element.className = "" + this.element.className + " dz-browser-not-supported";
                        _ref = this.element.getElementsByTagName("div");
                        for (_i = 0, _len = _ref.length; _i < _len; _i++) {
                          child = _ref[_i];
                          if (/(^| )dz-message($| )/.test(child.className)) {
                            messageElement = child;
                            child.className = "dz-message";
                            continue;
                          }
                        }
                        if (!messageElement) {
                          messageElement = Dropzone.createElement("<div class=\"dz-message\"><span></span></div>");
                          this.element.appendChild(messageElement);
                        }
                        span = messageElement.getElementsByTagName("span")[0];
                        if (span) {
                          span.textContent = this.options.dictFallbackMessage;
                        }
                        return this.element.appendChild(this.getFallbackForm());
                    },
                    thumbnail: function(file, dataUrl) {
                           var thumbnailElement, _i, _len, _ref;
                           if (file.previewElement) {
                             file.previewElement.classList.remove("dz-file-preview");
                             _ref = file.previewElement.querySelectorAll("[data-dz-thumbnail]");
                             for (_i = 0, _len = _ref.length; _i < _len; _i++) {
                               thumbnailElement = _ref[_i];
                               //thumbnailElement.alt = file.name;
                               thumbnailElement.src = dataUrl;
                               //$(thumbnailElement).css('background-image','url(\''+dataUrl+'\')').css('background-size','cover').css('background-repeat','no-repeat');
                               //thumbnailElement.style = 'background-image: url('+dataUrl+')';
                             }
                             return setTimeout(((function(_this) {
                               return function() {
                                 return file.previewElement.classList.add("dz-image-preview");
                               };
                             })(this)), 1);
                           }
                         }
                });


            });



            </script>



            
            <link rel="stylesheet" href="/css/dropzone.css" />   

        </div>
            
            

        <div class="dz-fallback content hidden" >
          <p>{{ 'Twoja przeglądarka nie obsługuje dodawania wielu plików jednocześnie'|trans }}</p>  
          <form action="{{ app.request.schemeAndHttpHost~app.request.requestUri }}" style="" enctype="multipart/form-data"  method="post">

          <div class="widget">
            <label>{{ 'Wybierz plik'|trans }}</label>
            <div class="field">
            <input name="file" type="file" />
            </div>
          </div>
          <div>
              <button type="submit" id="page_save" name="page[save]" >{{ 'Dodaj zdjęcie'|trans }}</button>
          </div>
          </form>  
        </div>      
            
          
        <div class="content" >
            
          <p>{{ 'Możesz dodać film wklejając do niego linka z serwisu YouTube lub Vimeo'|trans }}</p>  
          <form action="{{ app.request.schemeAndHttpHost~app.request.requestUri }}" style="" method="post">

          <div class="widget">
            <label>{{ 'Link do filmu'|trans }}</label>
            <div class="field">
                <input name="video" required="true" type="text" />
            </div>
          </div>
          <div>
              <button type="submit" id="page_save" name="page[save]" >{{ 'Dodaj film'|trans }}</button>
          </div>
          </form> 
          
        </div>   

    {% endif %}
    {% endif %}


    {% if object.id %} 
        
        <h1><i class="fa fa-lock"></i>{{ 'Uprawnienia'|trans }}</h1>
        {% if object.credentials|length %}
            <div class="content list">  
              {% for c in object.credentials %}
                <div class="element">
                    {% if(c.user.avatar) %}
                    <div class="avatar" style=" background-image:url('/{{ c.user.avatar }}');"></div>
                    {% endif %}
                    <div class="data">{{ c.user.fullname }}</div>
                    <div class="data">{{ app.user.permissiontype(c.type)|trans }}</div>
                    {% if(app.user.havepagepermission(object,'admin')) %}
                    <a href="{{ path('permission',{'id':c.id}) }}" class="button tip" title="{{ 'Edytuj uprawnienia'|trans }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="{{ path('permission',{'id':c.id,'delete':1}) }}" class="button tip" title="{{ 'Usuń uprawnieania'|trans }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
              {% endfor %}
            </div>  
        {% endif %} 
        {% if(app.user.havepagepermission(object,'admin')) %}
        <div class="content">    
            <form action="{{ path('permission') }}" method="post">
                <p>{{ 'Możesz nadać uprawnienia wybranym osobom. Administratorzy mogą nadawać nowe uprawnienia a redaktorzy mogą mieć dostęp tylko do zmiany wybranych danych. Podaj adres email osoby której chcesz nadać uprawnienia. Osoba ta musi posiadać konto w Epado.'|trans }}</p>
                <input type="hidden" name="page_id" value="{{ object.id }}" >
                <input type="email" name="email" placeholder="{{ 'Adres email osoby'|trans }}" value="">
                <input type="submit" value="{{ 'Dodaj uprawnienia'|trans }}">
            </form>
        </div>
        {% endif %}        
    {% endif %}
    

{% endblock %}