{% extends "admin.html.twig" %}

{% block header %}<h1><i class="fa fa-qrcode"></i>{{ 'Grupy kodów'|trans }}</h1>{% endblock %}


{% block content %}
    
    <div class="content">
        <form action="" method="get" class="filters">
            <div class="field"><label for="code">Szukaj pojedynczego kodu</label><div class="text"><input type="text" value="{% if object is not null %}{{object.code}}{% endif %}" name="code"></div></div>
            <div class="buttons"><input type="submit" value="{{ 'Szukaj'|trans }}"></div>
        </form>
        {% if object is not null %}
            <p>
            Znaleziono kod: {{object.code}}<br>
            Grupa do której nale¿y: <a href="{{ path('code_form', {'id': object.group.id})}}">{{object.group.name}}</a><br>
            {{ 'Okres'|trans }}: {% if object.group.product %}{{ (object.group.product.months/12~' lat')|trans }}{% else %}{% if object.group.months %} {{ (object.group.months/12~' lat')|trans }}{% else %}{{ 'Uniwersalne'|trans }}{% endif %}{% endif %}<br>
            Wykorzystany: {% if object.page is not null %}Tak (<a href="{{ path('page_form', {'id': object.page.id})}}">{{object.page.name}}</a>){% else %}Nie{% endif %}<br>
            Zamówienie: {% if object.orderproduct is not null %}Tak (<a href="{{ path('order_form', {'id': object.orderproduct.order.id})}}">{{object.orderproduct.order.id}}</a>){% else %}Nie{% endif %}<br>
			Numer produkcyjny: {{object.order_product_id}}
            </p>
            
            <div class="options">
                <a class="button" target="_blank" href="{{ path('welcome_print', {'id': object.id })}}">{{ 'Wydrukuj powitania'|trans }}</a>
                <a class="button" target="_blank" href="{{ path('code_print', {'id': object.id})}}">{{ 'Wydrukuj kody'|trans }}</a>
            </div>
        {% else %}
            {% if(app.request.get('code')) %}
            <p>Nie odnaleziono podanego kodu</p>
            {% endif %} 
        {% endif %}    
    </div>
    
    <div class="content">
        
        <div class="options"> 
        <a href="{{ path('code_form') }}" class="button">{{ 'Dodaj grupê'|trans }}</a>
        </div>


        {% if objects %}
            {{ pagination(pager)|raw }}
            <div class="table-wrapper"><table>
                    <tr>
                        <th>{{ 'Nr'|trans }}</th>
                        <th>{{ 'Nazwa'|trans }}</th>
                        <th>{{ 'Liczba kodów'|trans }}</th>
                        <th>{{ 'Kody u¿yte'|trans }}</th>
                        <th>{{ 'Okres'|trans }}</th>
                        <th>{{ 'Zmieniono'|trans }}</th>
                        <th>{{ 'Utworzono'|trans }}</th>
                    </tr>
                {% set i=0 %}{% for object in objects %}{% set i=i+1 %}
                    <tr>
                        <td>{{ i+(pager.per_page*(pager.page-1)) }}</td>
                        <td><a href="{{ path('code_form', {'id': object.id})}}">{{object.name}}</a></td>
                        <td>{{ object.amount }}</td>
                        <td>{{ object.used }}</td>
                        <td>{% if object.product %}{{ (object.product.months/12~' lat')|trans }}{% else %}{% if object.months %} {{ (object.months/12~' lat')|trans }}{% else %}{{ 'Uniwersalne'|trans }}{% endif %}{% endif %}</td>
                        <td>{{object.updated|mydate}}</td>
                        <td>{{object.created|mydate}}</td>
                    </tr>
                {% endfor %}
            </table></div>
            {{ pagination(pager)|raw }}
        {% else %}
            <p>{{ 'Nie ma dodanych grup kodów.'|trans }}</p>
        {% endif %}
    </div>

{% endblock %}