{% extends "AppBundle::default.html.twig" %}
{% block body %}
    
    <h1>System Kamit</h1>
    <div class="content main" style="text-align:center;">
        

    <div class="content">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

        
        <img src="/images/logo-bg.png" style="margin-bottom:20px;">
        {{ 'Epado'|trans }}
    </div>    
    
{% endblock body %}
