{% extends "admin.html.twig" %}


{% block header %}<h1><i class="fa fa-barcode"></i>{{ 'Kody rabatowe'|trans }}</h1>{% endblock %}


{% block content %}


    <div class="content">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>



{% endblock %}